---
import type { Experience, Technology } from "../utils/types";
import ExperienceData from "./ExperienceData.astro";
import Technologies from "./Technologies.astro";

const devExperience: Experience[] = [
  {
    timeSpan: "Sep 2023 - Present",
    company: "Conexa",
    title: "Front End Web Developer",
    description:
      "Develop seamless integrations for e-commerce platforms such as Tiendanube, Shopify and VTEX, leveraging cutting-edge web technologies utilizing frameworks like Next.js and React.js to build robust and dynamic user interfaces. Additionally, I employ Tailwind CSS for responsive and visually appealing designs, and leverage the power of TypeScript for strong typing and enhanced code quality. To manage state efficiently, I utilize Zustand.",
  },
  {
    timeSpan: "Feb 2023 - Sep 2023",
    company: "DevLabs",
    title: "Front End Web and Mobile Developer",
    description:
      "Development of Web and Mobile applications using tools as Nx for monorepo management, React Native, React Native Web, Typescript, Native Base, Styled components, TanStack Query/React Query and different technologies that may be more suited for different kinds of scenarios. Always trying to be of help to more trainee/Jr developers by teaching what I've learnt in my experience.",
  },
  {
    timeSpan: "Jan 2023",
    company: "Freelance",
    title: "Development of Boatech S.R.L's landing page",
    description:
      "Development of Boatech S.R.L's landing page with Next.Js, React.Js, Typescript and Tailwind CSS.",
  },
  {
    timeSpan: "Dec 2021 - Oct 2022",
    company: "Aleia - Digital x Data",
    title: "Front End Web Developer",
    description:
      "Development of Web Applications utilizing modern development tools as Next.Js, React.Js, Typescript, GraphQL, Redux Toolkit, Jotai, TailwindCSS, SASS, Styled components and different technologies that may be more suited for different kinds of scenarios. Development of custom themed Wordpress sites with PHP and plugins as ACF (Advanced Custom Fields) to meet the different clients needs.",
  },
  {
    timeSpan: "Aug 2021 - Sep 2021",
    company: "Maximus Gaming Hardware",
    title: "Full Stack Web Developer",
    description:
      "Development of new functionalities for the company ́s website, using HTML, CSS, Vanilla JS, JQuery, Vue JS and SQL.",
  },
];

const otherExperience: Experience[] = [
  {
    timeSpan: "2017 - 2019",
    company: "DP-20 - Dimama S.R.L",
    title: "Production assistant",
    description:
      "Stock control, part orders (national and international) for the products the company sells, parts reception, production planning, logistics, process optimization, development of automated control sheets, stock system development, manufacturing, personnel management, customer service, preparation of orders for retail clients, wholesalers and for an important automotive company located in General Pacheco.",
  },
];
---

<section id="about" class="w-full mx-auto mb-20 md:mb-6 lg:mb-36">
  <h2 class="text-2xl lg:text-3xl font-semibold">About me</h2>
  <p class="mt-10 leading-7 md:text-justify">
    I focus on frontend development at the moment, using Next Js, React Js and Typescript as my main
    tools. I'm passionate about quality and performance and I'm always trying to find new things to
    learn! My goal is to become a fullstack developer that can handle every task, including DevOps.
  </p>

  <div class="flex flex-col md:flex-row gap-10">
    <ExperienceData title="Dev experience:" experiences={devExperience} />
    <ExperienceData title="Other experience:" experiences={otherExperience} />
  </div>

  <div class="flex flex-col gap-8 mt-20 w-full">
    <Technologies />
  </div>
</section>
