---
---

<section id="contact" class="w-full mx-auto mt-20">
  <h2 class="text-2xl lg:text-3xl font-semibold">Get in touch!</h2>
  <p class="mt-4 leading-7">
    Feel free to reach me at <a href="mailto:pericolich@gmail.com" class="font-bold"
      >pericolich@gmail.com ↗︎</a
    > or via
    <a href="https://www.linkedin.com/in/eric-lichtensztein/" target="_blank" class="font-bold"
      >Linkedin ↗︎</a
    >!
  </p>
</section>
