---
import Link from "./Link.astro";
---

<section
  id="hero"
  class="mt-32 mb-20 md:mb-6 lg:mb-36 md:mt-16 lg:mt-48 h-auto md:h-[512px] w-full lg:w-[95%] mx-auto flex justify-between md:gap-8"
>
  <div
    class="w-full md:w-[50%] h-auto md:h-full flex flex-col justify-center gap-7 md:gap-5 lg:gap-8"
  >
    <h2 class="text-4xl md:text-5xl lg:text-7xl font-semibold">Hey!</h2>
    <img
      src="/assets/images/profile.jpg"
      alt="profile pic"
      class="block md:hidden w-full max-w-lg rounded-[32px] lg:rounded-[82px] shadow-md shadow-gray-400 dark:shadow-gray-700"
    />
    <p
      class="md:max-w-[90%] lg:max-w-[512px] md:text-base lg:text-lg font-medium md:leading-6 lg:leading-8"
    >
      I'm Eric Lichtensztein, a front end developer based on Buenos Aires,
      Argentina, focused on technologies such as Next Js, React and Typescript.
    </p>

    <div class="flex gap-2 md:gap-3 justify-start">
      <Link to="#" text="Linkedin" type="filled" targetBlank={true} />
      <Link to="#" text="Github" type="ghost" targetBlank={true} />
    </div>
  </div>
  <div class="w-0 md:w-[45%] flex items-center">
    <img
      src="/assets/images/profile.jpg"
      alt="profile pic"
      class="hidden md:block w-full max-w-lg md:rounded-[62px] lg:rounded-[82px] shadow-lg shadow-gray-400 dark:shadow-gray-700"
    />
  </div>
</section>
