---
import type { Technology } from "../utils/types";

const technologies: Technology[] = [
  {
    name: "React Js",
    imgPath: "/assets/images/logos/react-logo.png",
  },
  {
    name: "Next Js",
    imgPath: "/assets/images/logos/next-logo.png",
  },
  {
    name: "Astro",
    imgPath: "/assets/images/logos/astro-logo.png",
  },
  {
    name: "Typescript",
    imgPath: "/assets/images/logos/ts-logo.png",
  },
  {
    name: "Redux",
    imgPath: "/assets/images/logos/redux-logo.png",
  },
  {
    name: "Jotai",
    imgPath: "/assets/images/logos/jotai-logo.png",
  },
  {
    name: "Zustand",
    imgPath: "/assets/images/logos/zustand-logo.png",
  },
  {
    name: "GraphQl",
    imgPath: "/assets/images/logos/graphql-logo.png",
  },
  {
    name: "Tailwind CSS",
    imgPath: "/assets/images/logos/tailwind-logo.png",
  },
  {
    name: "Sass",
    imgPath: "/assets/images/logos/sass-logo.png",
  },
  {
    name: "Styled components",
    imgPath: "/assets/images/logos/styled-comps-logo.png",
  },
  {
    name: "Node Js",
    imgPath: "/assets/images/logos/node-logo.png",
  },
  {
    name: "Mongo DB",
    imgPath: "/assets/images/logos/mongodb-logo.png",
  },
  {
    name: "SQL",
    imgPath: "/assets/images/logos/sql-logo.png",
  },
  {
    name: "Wordpress",
    imgPath: "/assets/images/logos/wordpress-logo.png",
  },
  {
    name: "Java",
    imgPath: "/assets/images/logos/java-logo.png",
  },
  {
    name: "PHP",
    imgPath: "/assets/images/logos/php-logo.png",
  },
  {
    name: "Docker",
    imgPath: "/assets/images/logos/docker-logo.webp",
  },
];
---

<h3 class="text-2xl mt-8 mb-5">Tools I use:</h3>
<ul class="flex flex-wrap gap-2 w-auto">
  {
    technologies.map((tech) => (
      <li class="w-full md:w-36 md:h-60 border border-zinc-900 dark:border-white rounded-lg shadow-md flex flex-col items-center overflow-hidden">
        <div class="w-full h-[75%] flex items-center justify-center bg-white">
          <img
            src={tech.imgPath}
            alt={`${tech.name} logo`}
            class="w-[20%] md:w-[80%] object-contain aspect-square "
          />
        </div>
        <p class="py-6 md:py-0 h-[25%] font-medium flex items-center px-2 text-center">
          {tech.name}
        </p>
      </li>
    ))
  }
</ul>
