---
import type { Technology } from "../utils/types";

const technologies: Technology[] = [
  {
    name: "Next Js",
    imgPath: "/assets/images/logos/next-logo Small.png",
  },
  {
    name: "React Js",
    imgPath: "/assets/images/logos/react-logo Small.png",
  },
  {
    name: "React Native",
    imgPath: "/assets/images/logos/react-logo Small.png",
  },
  {
    name: "Astro",
    imgPath: "/assets/images/logos/astro-logo Small.png",
  },
  {
    name: "Typescript",
    imgPath: "/assets/images/logos/ts-logo Small.png",
  },
  {
    name: "Redux",
    imgPath: "/assets/images/logos/redux-logo Small.png",
  },
  {
    name: "Jotai",
    imgPath: "/assets/images/logos/jotai-logo Small.png",
  },
  {
    name: "Zustand",
    imgPath: "/assets/images/logos/zustand-logo Small.png",
  },
  {
    name: "React Query",
    imgPath: "/assets/images/logos/react-query.png",
  },
  {
    name: "GraphQl",
    imgPath: "/assets/images/logos/graphql-logo Small.png",
  },
  {
    name: "Tailwind CSS",
    imgPath: "/assets/images/logos/tailwind-logo Small.png",
  },
  {
    name: "Sass",
    imgPath: "/assets/images/logos/sass-logo Small.png",
  },
  {
    name: "Styled components",
    imgPath: "/assets/images/logos/styled-comps-logo Small.png",
  },
  {
    name: "Node Js",
    imgPath: "/assets/images/logos/node-logo Small.png",
  },
  {
    name: "Mongo DB",
    imgPath: "/assets/images/logos/mongodb-logo Small.png",
  },
  {
    name: "SQL",
    imgPath: "/assets/images/logos/sql-logo Small.png",
  },
  {
    name: "Wordpress",
    imgPath: "/assets/images/logos/wordpress-logo2.png",
  },
  {
    name: "Java",
    imgPath: "/assets/images/logos/java-logo Small.png",
  },
  {
    name: "PHP",
    imgPath: "/assets/images/logos/php-logo Small.png",
  },
  {
    name: "Docker",
    imgPath: "/assets/images/logos/docker-logo.webp",
  },
];
---

<h3 class="text-2xl mt-8 mb-5">Tools I use:</h3>
<ul class="grid grid-cols-2 md:flex md:flex-wrap gap-4 w-auto">
  {
    technologies.map((tech) => (
      <li class="w-full md:w-36 h-52 md:h-60 border border-zinc-400  rounded-2xl shadow-md flex flex-col items-center overflow-hidden">
        <div class="w-full h-[75%] flex items-center justify-center bg-white">
          <img
            src={tech.imgPath}
            alt={`${tech.name} logo`}
            class="w-[50%] md:w-[80%] object-contain aspect-square "
            loading="lazy"
          />
        </div>
        <p class="py-4 md:py-0 h-[25%] font-medium flex items-center px-2 text-center">
          {tech.name}
        </p>
      </li>
    ))
  }
</ul>
